:root {
  --main-color: #303131;
  --second-color: #58666c;
  --third-color: #cfdad8;
  --fourth-color: #60c0c9;
  --fifth-color: #194571;
  --sixth-color: #a0b2a7;
  --seventh-color: #e7d9c9;
  --eighth-color: #9e8081;
  --ninth-color: #766785;
  --tenth-color: #c27167;
  --eleven-color: #6c3959; 
  --twelve-color: #abe39f; 
  --thirteen-color: #78a254; 
  --fourteen-color: #9f948b; 
  --fifteen-color: #7f8b8b; 
  --main-space: 2vh;
}

/* Parche */
.navbar-light .navbar-nav .nav-link {
  color: var(--third-color) !important;
  margin: 0 10px;
}

.navbar-light .navbar-toggler {
  border-color: var(--third-color) !important;
  background: var(--third-color) !important;
}

.form-inline {
  justify-content: center;
}
/* Parche */

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: var(--second-color);
  font-family: "Cagliostro", sans-serif;
}

.navbar {
  background-color: var(--main-color);
  color: var(--third-color);
  border: none;
}

.fixed-button-desktop {
  display: block;
  width: 127px;
  height: 146px;
  z-index: 99;
  position: fixed;
  top: 15vh;
  left: 0;
}

.fixed-button-mobile {
  display: none;
}

.fixed-call-mobile {
  display: none;
}

.brand {
  width: 140px;
}

.iconos {
  margin: 0 8px;
}

footer {
  background-color: var(--second-color);
  color: var(--third-color); 
  display: flex;
  flex-direction: inherit;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* video */
.video-section {
  width: 100%;
  max-height: 96vh;
  margin: var(--main-space) auto;
}

.video {
  width: 100%;
}

/* precios */
.price-section {
  width: 100%;
  height: auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  background: var(--third-color);
  padding: 5vh 10vw;
}

.temporadas {
  color: var(--thirteen-color);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.price-title {
  background: var(--second-color);
  color: var(--third-color);
  width: calc(100% / 5);
  display: flex;
  line-height: 18px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 5vh;
}

.price-element {
  width: calc(100% / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.price-block {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.active {
  background: var(--thirteen-color);
  color: var(--third-color);
}

.last-active {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-conditions {
  margin-top: 5vh;
  text-align: left;
}

.webpay-link {
  width: 50%;
  cursor: pointer;
}

.lago-div {
  background-image: url(./assets/home-lago/2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 10vh 5vw;
}

.distancias-div {
  background-image: url(./assets/distancias/distancias.jpg);
  background-size: contain;
  background-color: var(--sixth-color); 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.distancias02 {
  display: flex;
  flex-direction: row-reverse;
}

.maps-div {
  width: 100%;
  height: auto;
  background-color: var(--seventh-color);
  padding: 10vh 5vw;
}

.mixestilo01 {
  color: var(--third-color);
  text-shadow: 1px 1px var(--main-color);
}

.contact-email {
  color: var(--sixth-color);
  cursor: pointer;
  text-decoration: underline;
}

.contact-email:hover {
  color: var(--thirteen-color);
}

.solocolor02 {
  color: var(--fourth-color);
  text-shadow: 1px 1px var(--second-color);
}

/* section Cabañas */
.service-section {
  width: 100%;
  height: auto;
  font-size: 18px;
  display: flex;
  flex-direction: inherit;
  flex-flow: wrap;
  text-align: center;
  background: var(--second-color);
  color: var(--seventh-color);
  padding: 5vh 10vw;
}

.contenedor-servicios {
  width: 25%;
  margin: 15px 0;
}

.titulo-servicios {
  font-weight: 600;
  margin-top: 10px;
}

.text-carrousel {
  color: var(--third-color);
  text-shadow: 1px 1px var(--main-color);
  display: block;
}

.titulo-secciones, .titulo-secciones02, .titulo-secciones03, .titulo-secciones04 {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background:var(--main-color);
  color: var(--third-color);
  box-shadow: 10px 5px 10px var(--second-color);
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 180px;
  height: 55px;
  position: absolute;
  right: 0;
}

.titulo-secciones02 {
  background:var(--twelve-color);
  color: var(--main-color);
}

.titulo-secciones03 {
  background:var(--tenth-color);
}

.titulo-secciones04 {
  color:var(--main-color);
  background: var(--third-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contain-link {
  display: block;
  width: 50vw;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .titulo-secciones, .titulo-secciones02, .titulo-secciones03, .titulo-secciones04 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 5px;
    font-size: 12px;
    width: 100px;
    height: 30px;
  }

  .links {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .contain-link {
    width: 100%;
  }

  footer {
    flex-direction: column-reverse;
    height: auto;
  }

  .fixed-button-desktop {
    display: none;
  }
  
  .fixed-button-mobile {
    display: block;
    width: 55px;
    height: 45px;
    z-index: 99;
    position: fixed;
    bottom: 35vh;
    left: 2%;
  }

  .fixed-call-mobile {
    display: block;
    width: 34px;
    height: 34px;
    z-index: 99;
    position: fixed;
    bottom: 25vh;
    left: 2%;
  }

  .price-title, .price-element {
    height: 45px;
  }

  .price-section {
    height: auto;
  }

  .distancias-div {
    background-size: cover;
    background-position-x: 20%;
    padding: 15px;
  }

  .dis01, .dis02, .dis03 {
    width: 40%;
  }

  .contenedor-servicios {
    width: 50%;
    font-size: 16px;
  }

  .text-carrousel {
    display: none;
  }

  .mixestilo01 {
    font-size: 16px;
  }

  .solocolor02 {
    font-size: 14px;
  }

}

@media only screen and (max-width: 480px) {
  .price-section {
    font-size: 11px;
  }

  .price-title, .price-element {
    height: 40px;
  }

  .contenedor-servicios {
    font-size: 14px;
  }
}


